services:
  webservice:
    build:
      context: .
      dockerfile: cmd/webservice/Dockerfile
      args:
        BUILDKIT_INLINE_CACHE: 1
    environment:
      ENV: dev-docker-compose
    volumes:
      - ./.env.local:/.env.local
    ports:
      - "18999:8999"
